---
import Layout from "../layouts/Layout.astro";
import Lightleak from "../components/Lightleak.astro";
---

<Layout title="Keleher Dot Ca">
    <main>
        <h1>Maxwell Test</h1>

        <div>
            <ul>
                <li>
                    <a>
                        (Accepted) <em>Keleher M.</em> , Westin, F., Nagabandi, P.,
                        Chiasson, S. (2022) How well do experts understand end-users'
                        perceptions of manipulative patterns? NordiCHI 2022
                    </a>
                </li>
                <li>
                    <a>
                        <em>Keleher M.</em> Adaptive Colouring of Video Captions
                        using a Fuzzy Expert System (2021) National Conference on
                        Undergraduate Research 2021
                    </a>
                </li>
            </ul>
        </div>
    </main>
</Layout>

<style>

</style>
