---
import Layout from "../layouts/Layout.astro";

const photographs = await Astro.glob("./photos/*.md");

// const projects = (await Astro.glob('./project/**/*.md'))
// 	.filter(({ frontmatter }) => !!frontmatter.publishDate)
// 	.sort(
// 		(a, b) =>
// 			new Date(b.frontmatter.publishDate).valueOf() - new Date(a.frontmatter.publishDate).valueOf()
// 	);
---

<Layout title="Keleher Dot Ca">
	<main>
		<h1>Maxwell Test</h1>

		<div>
			{
				photographs.map((photo) => {
					console.log(photo.file);
					return (
						//Photo
						<a href={photo.url}>
							<img alt="" src={photo.frontmatter.file} />
						</a>
					);
				})
			}
		</div>
	</main>
</Layout>

<style>
	div {
		column-count: 3;
	}
</style>
