---
import Layout from "../layouts/Layout.astro";
import Lightleak from "../components/Lightleak.astro";
---

<Layout title="Keleher Dot Ca">
    <main>
        <h1>Maxwell Keleher</h1>

        <div>
            <Lightleak title="Portfolio" href="" />
        </div>
    </main>
</Layout>

<style>

</style>
