---
import Layout from "../layouts/Base.astro";
import Lightleak from "../components/Lightleak.astro";
import Project from "../layouts/Project.astro";
const projects = await Astro.glob("./projects/*.md");
---

<Layout title="Keleher Dot Ca">
	<main>
		<h1>Maxwell Test</h1>

		<!-- <Project /> -->

		<div>
			{
				projects.map((project) => {
					console.log(project.file);
					return (
						<Lightleak
							title={project.frontmatter.title}
							href={project.url as string}
						/>
					);
				})
			}
		</div>
	</main>
</Layout>

<style>

</style>
