---

---

<!-- Try making this into a split image that focuses on focus like a rangefinder -->
<a href="/">Max Keleher</a>

<style>
    a
	{
		color: inherit;
		text-decoration: none;
        font-size: ;
	}

</style>