---
export interface Props {
    title: string;
    href: string;
}

const { href, title } = Astro.props;
---

{
    href ? (
        <a class="lightleak rouge" href={href}>
            <h2>{title}</h2>
            <p>
                <slot />
            </p>
        </a>
    ) : (
        <div class="lightleak rouge">
            <h2>{title}</h2>
            <p>
                <slot />
            </p>
        </div>
    )
}

<style>
    .lightleak {
        line-height: 1;
        margin: 1rem 0;
        padding: 1rem 2rem;
    }

    a.lightleak {
        text-decoration: none;
        color: inherit;
        display: block;
        background-size: 100%;
        transition: box-shadow 0.2s ease;
    }

    a.lightleak:hover {
        box-shadow: inset 0px 0px 8px 15px #000000 !important;
    }

    .lightleak.bleu {
        background: radial-gradient(
            66.94% 69.16% at 21.77% 26.4%,
            #00f0ff 0%,
            #ffffff 0%,
            #00f0ff 100%
        );
        box-shadow: inset 0px 0px 20px 12px #000000,
            inset -15px 10px 40px 5px #1400ff;
    }

    .lightleak.rouge {
        background: radial-gradient(
            94.36% 115.66% at 63.87% 53.04%,
            #ff5732 0%,
            #ffffff 0%,
            #ff5732 100%
        );
        box-shadow: inset 0px 0px 20px 12px #000000,
            inset -15px 10px 40px 5px #ff7613;
    }
</style>
