---
import Base from './Base.astro'
import HomeLogo from '../components/HomeLogo.astro';
---

<Base title="Citations">
	<main>
		<div class="wordmark">
			<HomeLogo/>
		</div>
		<slot/>
	</main>
</Base>

<style>
	.wordmark {
        position: fixed;
		top: 40px;
		left: 40px;
		width: 100vw; 

        font-weight: 100;
        font-size: 2rem;
        letter-spacing: 0.02em;
        text-transform: uppercase;
		/* background: linear-gradient(180deg, var(--black) 55%, transparent);	 */
    }

	main
	{
		font-size: 2rem;
		padding: 100px 40px 40px 50%;
		box-sizing: border-box;
		min-height: 100vh;

		background: linear-gradient(90deg, transparent, var(--green), transparent);
		background-position: center;
		background-size: 100px 100%;
		background-repeat: no-repeat;

		animation: beam-intro 2s var(--ease) 1,
			text-intro 2s ease 0.5s 1 forwards;
		color: transparent;
	}

	main :global(ul)
	{
		list-style: none;
		padding-left: 80px;
	}

	@keyframes beam-intro
	{
		from
		{
			background-position: 80%;
			opacity: 0;
		}
	}

	@keyframes text-intro
	{
		from { color: transparent; }
		to { color: var(--white); }
	}

	@media (max-width: 1000px)
	{
		main
		{
			font-size: 1.5rem;
			padding-left: 30%;
			background-position: 30%;
		}
	}

	@media (max-width: 600px)
	{
		.wordmark {
			position: fixed; 
			top: 0px;
			left: 0px;
			padding: 20px 0 0px 20px; 
			background: linear-gradient(180deg, var(--black) 20%, transparent);	
		}

		main
		{
			padding: 50px 0 5% 0;
			background-position: 0%;
			font-size: 1.2rem;
		}


	}
</style>