---
import Base from "./Base.astro"

const { frontmatter } = Astro.props
---

<Base title={frontmatter.title}>
	<h1>
		{frontmatter.title} on {frontmatter.camera} with {frontmatter.lens}
	</h1>
    <slot/>
</Base>
