---
import Base from './Base.astro'
import Gallery from '../components/ProjectGallery.astro'
import HomeLogo from '../components/HomeLogo.astro';
const { frontmatter } = Astro.props

let galleryVisible = false; 
const orange = "#FF5600"; 
const offWhite = "#FEF9EF"; 

---

<Base title={frontmatter.title}>
	<div class="exhibit">
		<div class="wordmark"><HomeLogo/></div>

		<div class="content">
			<slot/>

			<div class="info">
				<h2>{frontmatter.title}</h2>
				<p>{frontmatter.authors}</p>
				<p>{frontmatter.year}</p>
			</div>
		</div>
	</div>
</Base>

<style>
	.exhibit {
		color: var(--black);
		
		max-height: 100vh;

		overflow-y: scroll;
		overflow-x: hidden;
		scrollbar-width: none;
		scroll-behavior: smooth;

		background-color: var(--white);
	}

	.exhibit::-webkit-scrollbar
	{
		width: 12px;
		background-color: transparent;
	}

	/* .exhibit::-webkit-scrollbar-thumb {
		background-color: var(--foreground);
		border-radius: 12px;
		box-shadow: inset 0 0 0 2px var(--background);
	} */

	.wordmark {
		padding: 40px;

		font-weight: 100;
		font-size: 2rem;
		letter-spacing: 0.02em;
		text-transform: uppercase;
	}

	.content {
		text-align: center;
		font-size: 1.6rem;

		padding: 0 120px 120px 120px;
		box-sizing: border-box;
			
		/* background: linear-gradient(90deg, var(--white) 50%, var(--black) 50%);
		background-size: 200%;
		background-position: 0%; */
	}

	.info > p {
		margin: 0;
		font-size: 1.2rem;
	}

	.info > h2 {
		margin: 100px 0 10px 0;
		font-size: 1.4rem;
	}

	@media (max-width: 1050px)
	{

	}

	@media (max-width: 580px)
	{
		.wordmark {
			padding: 10px; 

			font-weight: 100;
			font-size: 2rem;
			letter-spacing: 0.02em;
			text-transform: uppercase;

			background: linear-gradient(180deg, var(--white) 55%, transparent);	


		}

		.content {
			/* position: relative; */
			/* flex-basis: 85%; */
			text-align: center;
			font-size: 1rem;
			color: var(--black);
			
			padding: 0 60px 60px 60px;
			box-sizing: border-box;
			max-height: 100vh;

			overflow-y: hidden;
			overflow-x: hidden;
			scrollbar-width: none;
			scroll-behavior: smooth;
			
			/* background-color: var(--white); */
			/* background: linear-gradient(90deg, var(--white) 50%, var(--black) 50%);
			background-size: 200%;
			background-position: 0%; */
			
			animation: none;
		}
	}
</style>
